body {
    font-family: Arial, sans-serif;
    background-color: #bbd0ff;
    margin: 0;
    padding: 20px;
}
form {
    background: #e7c6ff;
    padding: 20px;
    border-radius: 15px;
    max-width: 450px;
    margin: auto;
}
fieldset {
    border: 1px solid #000000;
    padding: 15px;
    margin-right: 15px;
    margin-bottom: 20px;
}
legend {
    font-weight: bold;
    text-align: center;
}
label {
    display: block;
    margin: 10px 0 5px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="file"] {
    width: 100%;
    padding: 8px;
    padding-right: 0; 
    border: 1px solid #ebd3d3;
    border-radius: 4px;
}
input[type="checkbox"],
input[type="radio"] {
    margin-right: 10px;
}
input[type="submit"],
input[type="reset"] {
    background-color: #c174af;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    

}
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #e464e9;
}
input[type="file"]{
    display: none;
}
.fileButton {
    display: block; 
    padding: 10px;
    font-weight: bold;
    color: #bb47bd;
    border-radius: 10px;
    border: 3px solid #c76ab7;
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
    text-align: center; 
    box-sizing: border-box; 
}

.button-container {
    text-align: center; 
}